@import "../variables";
@import "../queries";

.Header {
  text-align: center;
  width: 100%;
  background: $color-background;
  
  position: fixed;
  z-index: 10;
  overflow: hidden;
}

.Header--collapsed {
  border-bottom: 2px solid $color-highlight;
}

.HeaderContent {
  position: relative;
  display: inline-block;
  height: 100%;
}

.HeaderSub {
  background: $color-background-light;
  padding: 20px 10px;
  display: none;
  font-size: 14px;
  text-align: center;

  @media #{$query-mobile} {
    display: none;
  }
}


.HeaderContent {
  table-layout: fixed;
  width: 100%;
  font-size: 18px;
  display: none;

  @media #{$query-mobile} {
    font-size: 14px;
  }
}

.Header--logoLoaded .HeaderContent {
  display: table;
}

.HeaderContent-left {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 0 40px;

  @media #{$query-mobile} {
    display: none;

    .Header--collapsed & {
      display: table-cell;
      padding: 0 18px;
    }
  }
}

.HeaderContent-right {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 40px;

  @media #{$query-mobile} {
    display: none;

    .Header--collapsed & {
      display: table-cell;
      padding: 0 18px;
    }
  }
}

.HeaderContent-middle {
  width: auto;
  vertical-align: middle;
  display: table-cell;
  
}
