@import "./variables";
@import "./fonts";
@import "./queries";

.HeroImage {
  height: 100%;
  position: relative;
  width: 100%;
}

.Section {
  padding: 180px 40px;
  border-bottom: 2px solid $color-highlight;

  @media #{$query-mobile} {
    padding: 60px 40px;
  }
}

.BodyText {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;

  @media #{$query-mobile} {
    font-size: 14px;
  }
}

.BodyText:first-child:first-letter { 
  float: left;
  color: $color-highlight;
  font-size: 80px;
  line-height: 0.7;
  margin-left: 0px;
  @include font-fancy();
  padding: 0px 30px 10px 0px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5);

  @media #{$query-mobile} {
    font-size: 50px;
    padding: 0px 15px 10px 0px;
  }
}

.HeroImage-container {
  position: relative;
  width: 100%;
}

.HeroImage-outer {
  position: relative;
  width: 100%;
  padding-top: (9/16 * 100) + 0%;

  @media #{$query-mobile} {
    padding-top: (640/500 * 100) + 0%;
  }
}

.HeroImage-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}