$color-background: rgba(121, 138, 153, 1);
$color-background-dark: rgba(81, 94, 105, 1);
$color-background-light: rgba(159, 176, 190, 1);
$color-text: rgba(255, 255, 255, 1);
$color-highlight: rgba(255, 208, 149, 1);  